.articles{
  background-color: $veryLightGray;
}
.article{
  // &__content{
  // }
  &__grid{
    display: grid;
    gap: 1.875rem;
    // grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__item{
    height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 12px rgba($color: #525151, $alpha: 0.15);

    &:hover{
      transform: scale(1.03); // increase 5%
      transition: all 400ms ease-in-out;
    }
  }
  &__img{
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    // background-image: url("https://i.postimg.cc/7YV71DFt/image-currency.jpg");
  }
  &__text{
    background-color: $white;
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;

    @include breakpoint-up(mediun) {
      padding: 1.875rem 1.875rem 2.5rem 1.875rem;
    }
  }
  &__author{
    display: inline-block;
    font-size: 0.725rem;
    margin-bottom: 1rem;
  }
  &__title{
    font-size: 1.0625rem;
    font-weight: 300;
    margin-bottom: 1rem;
    transition: color 200ms ease-in-out;

    &:hover{
      color: $brightCyan;
      cursor: pointer;
    }
}
  &__description{
    font-size: 0.875rem;
    line-height: 1.5;
  }
}