html{
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: $font-med;
  font-weight: 300;
  line-height: 1.2;
  color: $grayishBlue;
  overflow-x: hidden;
    
    @include breakpoint-up(large) {
      font-size: $font-med;
    }

  &.noscroll{
    overflow: hidden;
  }
}

h1, h2, h3, h4{
  margin-top: 0%;
  color: $darkBlue;
  font-weight: 300;
  line-height: 1.15;
}
h1{
  font-size: 2.31rem;
  margin-bottom: 1.5rem;

  @include breakpoint-up(large){
  font-size: $font-xlg;
  }
}
h2{
  font-size: 1.875rem;
  margin-bottom: 1.525rem;

  @include breakpoint-up(large){
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p{
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a, a:visited, a:hover{
  text-decoration: none;
}

//SPACING
.container {
  max-width: 69.375rem;
  margin: 0 auto;
  &--pall{
      padding-left: 1.75rem;
      padding-right: 1.75rem;
      padding-top: 4.375rem;
      padding-bottom: 4.375rem;

      @include breakpoint-up(large){
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
  }
  &--py{ // vertical axis
      padding-top: 4.375rem;
      padding-bottom: 4.375rem;
      
      @include breakpoint-up(large) {
        padding-top: 6rem;
        padding-bottom: 6rem;
      }
  }
  &--px { // horizontal axis
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  &--pt{
    padding-top: 4.375rem;
      @include breakpoint-up(large) {
        padding-top: 6rem;
      }
  }
  &--pr{
    padding-right: 1.75rem;
  }
  &--pb{
    padding-bottom: 4.375rem;
      @include breakpoint-up(large) {
        padding-bottom: 6rem;
      }
  }
  &--pl{
    padding-left: 1.75rem;
  }
}
// FLEXBOX

.flex {
  display: flex;

  &-jc-sb{
    justify-content:space-between;
  }
  &-jc-c{
    justify-content:center;
  }
  &-ai-c{
    align-items:center;
  }
}

//BUTTONS
button, .button {
  position: relative;
  border: 0;
  display: inline-block;
  color: $white;
  font-size: $font-sm;
  font-weight: 400;
  border-radius: 50px;
  padding: 0.875rem 2.1875rem;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left:0;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50px;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
    &:hover::before {
      opacity: 0.90;
    }
}

// VISIBILITY
.hide-for-mobile{
  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display:none;
  }
}
.hide-for-desktop{
  // hide for desktop 
  @include breakpoint-up(large) {
    display: none;
  }
}