html{
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: $font-med;
  color: $grayishBlue;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;

  &.noscroll{
    overflow: hidden;
  }
}
a, a:visited, a:hover{
  text-decoration: none;
}

//SPACING
.container {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
// FLEXBOX

.flex {
  display: flex;

  &-jc-sb{
    justify-content:space-between;
  }
  &-jc-c{
    justify-content:center;
  }
  &-ai-c{
    align-items:center;
  }
}

//BUTTONS
button, .button {
  border: 0;
  color: $white;
  font-size: $font-sm;
  font-weight: 400;
  border-radius: 50px;
  padding: 0.875rem 2.1875rem;
  background: linear-gradient(to right, $limeGreen, $brightCyan);
}

// VISIBILITY
.hide-for-mobile{
  // hide for tablet and mobile
  @include breakpoint-down(medium) {
    display:none;
  }
}
.hide-for-desktop{
  // hide for desktop 
  @include breakpoint-up(large) {
    display: none;
  }
}