.header{
  // HAMBURGER OPEN STYLES
  &.open {
    .header__toggle {
      >span:first-child {
        transform: rotate(45deg);
      }

      >span:nth-child(2) {
        opacity: 0;
      }

      >span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  nav {
    position: relative;
    background-color: $white ;
    padding-top: 1.065rem;
    padding-bottom: 1.065rem;
    margin: 0 auto;
    max-width: 69.375rem;
  }

  &__logo{
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }
  // MOBILE MENU
  &__toggle{
    > span{
      display: block;
      width: 24px;
      height: 2px;
      background-color: $darkBlue;
      transition: all 300ms ease-in-out;
      transform-origin: 2px 1px;

      &:not(:last-child){
        margin-bottom: 5px;
      }
    }

  }
  &__links{
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &:not(:last-child){
        margin-right: 2rem;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -30px;
        transition: opacity 300ms ease-in-out;
      }
      &:hover{
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__menu{
    background-color: $white;
    margin: 1.5rem 1.5rem;
    padding: 1.625rem;
    position:absolute;
    width: calc(100% - 3rem);
    border-radius: 5px;
    a {
      display: block;
      text-align: center;
      color: $darkBlue;
      padding: 0.625rem;
      font-size: 1rem;
    }
  }
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 3.6875rem;
  right:0;
  bottom: 0;
  left:0;
  background-image: linear-gradient($darkBlue, transparent);
}


// 38: minutes in video
// https: //www.youtube.com/watch?v=aoQ6S1a32j8&feature=youtu.be