.header{
  nav {
    padding: 1.065rem 1.75rem;
  }

  &__logo{
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }
  // MOBILE MENU
  &__menu{
    > span{
      display: block;
      width: 24px;
      height: 2px;
      background-color: $darkBlue;

      &:not(:last-child){
        margin-bottom: 3px;
      }
    }

  }
  &__links{
    a {
      position: relative;
      font-size: $font-sm;
      color: $grayishBlue;
      transition: color 200ms ease-in-out;

      &:not(:last-child){
        margin-right: 2rem;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 5px;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -30px;
        transition: opacity 300ms ease-in-out;
      }
      &:hover{
        color: $darkBlue;
        &::before {
          opacity: 1;
        }
      }
    }
  }
  &__cta{
    color: 4white;
    font-size: $font-sm;
    transition: opacity 300ms ease-in-out;

    &:hover{
      opacity: 0.70;
    }
  }
}

// 38: minutes in video
// https: //www.youtube.com/watch?v=aoQ6S1a32j8&feature=youtu.be